.main
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: rgba(0, 0, 0, 0.637);*/
  padding:20px;
  /*height:100%;
  max-height:150vh;*/
  
}

.icon
{
  border-radius: 25px 0px 25px 0px;
  padding:15px;
  background-color:white;
  color:black;
  font-family:Arial ;
  font-size:30px;
  font-weight: 400;
  height:30px;
  width:30px;
  text-align:center;
}

.img
{
  border-radius:50%;
  height: 30px;
  width:30px;
}

.name
{
  color:white;
  font-size:15px;
  font-family: Arial;
  font-weight:bold;
}



.middle-container
{
  color:rgba(0, 0, 0, 0.479);
  font-size:20px;
  font-family: Arial;
  font-weight:bold;
}

.mot:hover{
  color: white;
}
.prod:hover{
  color: white;
}
.design:hover{
  
    color: white;
  
}
.Study:hover{
  color: white;
}

.prod-but
{
  border-radius:25px;
  background-color:rgb(192, 92, 92);
  padding:10px;
  text-align:center;
  width:100px;
  color:white;
  border-color:rgb(192, 92, 92);
  border:none;
}
.prod-but:hover{
  color: rgb(192, 92, 92);
  background-color:white;
}

.bottom-box
{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 25px;
max-width:100%;
width:300px;
height:20vh;
margin:45px;
padding:20px;
}

.rocket
{
  border-radius: 25px;
  background:none;
  size:20px;
}
.content
{
  color:white;
  size:20px;
  font-family: Arial;
}

.plan
{
  border-radius: 25px;
  padding:15px;
  color:rgb(192, 92, 92);
  background-color: white;
  font-size: 15px;
  font-family: Arial;
}

.plan:hover{
  background-color:rgb(192, 92, 92);
  color:white;
}

.log-text
{
  color:white;
  font-family: Arial;
  font-size: 20px;
  font-weight:bold;
}

.log-but
{
  padding:20px;
  border-radius:50%;
  box-sizing: border-box;
  max-width: 40px;
  max-height: 50px;
  background-color:rgb(201, 75, 75) ;
  text-align:center;
  font-size: 30px;
  color:white;
  border:none;
}

.log-but:hover{
  color:rgb(201, 75, 75) ;
  background-color:white;
}